       /* large screen */

       @media screen and (max-width:991px){
    
        .nav-toggle{
             display: block;
             margin-right: 20px;
        
     }
     
     
     .nav-links{
     position: absolute;
     background-color: white;
     left: -100%;
     top:100%;
     width: 100%;
     padding-block:40px ; 
     transition: 0.2s ease-in-out;
     
     }
     
     .nav-links.active{
         left: 0;
     } 
     
     .nav-links ul {
     flex-direction: column;
     gap: 20px;
     
        
     }
        
     .navbar{
         overflow: initial;
     }
     
     }
     
     
     
     
     
      /* medium screen */
     
     @media  screen and (max-width:768px) {
        
         .nav-toggle{
             display: none;
            
        
     }

     .hero-section{
        position: relative;
        height: auto;
     }
     
         .logo img{
         display: block;
          width: 80%;
          padding: 10px;
         
         }
         
        
     .hero-left-section {
         font-size:22px ;
         /* width: 500px; */
         text-align: center;
         margin-top: -130px;
       
        }
     
        .hero-section >  div{
         width: 100%;
     }
     
        .hero-section{
        flex-direction: column-reverse;
        justify-content: space-around
        
     }
     
     .hero-right-section img{
         width: 100%;
         position: absolute;
         margin-top: -35px;
         
         }
     

           /* about section */


         .about{
             display: flex;
           justify-content: center;
             align-items: center;
           flex-direction: column-reverse;
           padding:10px;
          
         }
       
         .about-text h2 {
             font-size: 32px;
            
         }
         .about-text p{
         
             font-size: 12px;
             line-height: 1;
          
         }
         
         .about-img img{
   
        margin-top: -100px;
           
        }

              
          /* education section */
         
       
          .clg-img{
            flex-basis: 100%;
        }
        .clg-text{
            flex-basis:100% ;
        }
        
        .clg-img img{
            width: 50%;
           flex-basis: 100%;
          
        }

        .clg{
            display: flex;
            align-items: center;
            justify-content: center;
             flex-wrap: wrap;
             padding:10px ;
              
        }

        .clg-text h2 {
            font-size: 32px;
        }


        .clg-text h4{
            font-size: 14px;
           
            line-height: 1;
            margin: 7px 0 15px;
        }

        .clg-text p{
    
            font-size: 12px;
            line-height: 1
         
        }



           /* services section */


         #services{
    
            font-size: 16px;
            line-height: 1;
            margin-bottom: 1rem;
        }

        .sub-title{
            text-align: center;
            font-size: 32px;
            padding: 20px 50px;
        
        }
        
        .container{
            padding: 40px;
        }

        .services-list div{
            
            padding: 40px;
            font-size: 12px; 
        }

        .services-list div i {
            font-size: 32px;
            
        }

        .services-list div h2 {
            font-size: 26px;
           
            margin-bottom: 10px;
        }





         .skills-content{
             display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;
         }
     
         .skills-text{
             padding: 100px 0;
              
            }
     
            .skills-text h2{
             font-size: 32px;
             
            }
     
            .skills-row img{
             padding-top: 50px ;
             display: block;
            
         }
     
         .main-text h2{
             font-size: 32px;
             padding: 50px 0 ;
            }
     
            .contact-text h2{
             font-size: 32px;
             line-height: 1;
            
         }
     
         .contact{
             display: flex;
            align-items: center;
            justify-content: center;
             flex-direction: column;
             gap: 10px;
             
             
         }
         
         .contact-text p {
            
             font-size: 16px;
            margin-bottom: 20px;
         }
        
     
         footer{
             
             margin: 10px 0;
         }
         
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     }
     
     
           /* small screen */
     
     @media  screen and (max-width:479px) {
     
     
        
     
     }