@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


:root{
    --primary-color:#3498db;
    --secondary-color:#2c3e50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

  /* Navigation section    */

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80px;
    background-color: var(--primary-color);
    position: relative;
    padding: 10px 60px;
  
}



nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color:var(--secondary-color);
    
}

.logo img{
    width: 150px;
    padding: 10px 0;
    margin-top: 10px;
    
}

  
  .nav-toggle{
    display: none;
  }

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}





  /* Hero section */



.hero-section{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 730px;
}

.hero-section >  div{
    width: 40%;
}

.hero-left-section {
 font-size:3rem ;
}

.hero-right-section{
    position: relative;
    height: 500px;
}

.hero-right-section img{
width: 80%;
position: absolute;
animation: moveUpDown 3s infinite;
}



.name-color{
    color:var(--secondary-color);
}

#element{
    color: var(--secondary-color);
}
  
   .hero-left-icons a:hover{
    color: white;

   }


  

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); 
    }
  }
 

/* About section */


.about{
    display: flex;
    align-items: center;
   
    flex-wrap: wrap;
    gap: 100px;
      
}
.about-img img{
   
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 8px;
   
}

.about-img{
    flex-basis: 30%;
}
.about-text {
    flex-basis: 60%;
}

.about-text h2 {
    font-size: 60px;
}
.about-text h2 span {
    color: var(--primary-color);
}

.about-text h4{
    font-size: 30px;
    font-weight: 600;
    
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 2rem;
}



/* eduction detail */



.clg{
    display: flex;
    align-items: center;
     flex-wrap: wrap;
      
}

.clg-img img{
   
    max-width: 400px;
    height: auto;
    width: 70%;
    border-radius: 8px;
    flex-basis: 30%;
    margin-left: 100px;
    padding-bottom: 100px;
   
 
   
}

.clg-img{
    flex-basis: 30%;
}
.clg-text{
    flex-basis:60% ;
}


.clg-text h2 {
    font-size: 60px;
}
.clg-text h2 span {
    color: var(--primary-color);
}

.clg-text h4{
    font-size: 30px;
    font-weight: 600;
    
    line-height: 1.7;
    margin: 15px 0 30px;
}

.clg-text p{
    
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 2rem;
}


  /* services section */

.services{
    background-color: var(--primary-color);
}

#services{
    
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding: 70px;

}

.sub-title span{
    color:white;
}

.container{
    padding: 90px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
     grid-gap: 40px;
     margin-top: 50px;
}


.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s , transform 0.5s;
    box-shadow: 1px 1px 20px #ffff;
                 
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    transform: translateY(-15px);
}


  /* skills section */
 
  

   .skills-text{
    padding: 150px 0;
      
   }

   .skills-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
   }

   .skills-text h2 span {
    color:var(--primary-color);
   }

   .skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    justify-content: center;
    align-items: center;
    
   }

.skills-row{
     position: relative; 
    overflow: hidden;
    transition: 0.5s ease;
    margin: 30px;
   
}


.skills-row img{
    padding-top: 50px ;
    width: 200px;
    display: block;   
}


   /* projects section */

   .portfolio{
    background-color: var(--primary-color);
    padding-bottom: 150px;
   }
   .main-text{
    padding-top: 100px;
    margin-top: 100px;
   }

   .main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding: 100px 0 ;
   }

   .main-text h2 span {
    color:white;
   }

   .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
   }

.row{
    position: relative;
    overflow: hidden;
    /* border-radius: 8px; */
    cursor: pointer;
    padding: 10px ;
}

.row img{
    width: 100%;
  
    display: block;
    transition: transform 0.5s;
}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0,1 ), black);
   position: absolute;
   border-radius: 8px;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 40px;
   transition: height 0.5s ;


}

.layer h5{
    color: black;
    font-size: 20px;
    font-weight: 600;
}


.layer i {
color: var(--primary-color);
margin-top: 20px;
font-size: 20px;
background: #fff;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;

}

.row:hover img{
    transform: scale(1,1);
}

.row:hover .layer{
    height: 100%;
}



 /* contact section */

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: left;
}


.contact-text h2 span {
    color: var(--primary-color);
}


.contact-text h4 {
    margin: 15px 0;
    color: rgb(288,288, 288);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 30px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list i:hover{
    transform: scale(1.01) translateY(-5px);
    color: #3498db;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transform: .5s ease;
   
}

.contact-icons  a {
    text-decoration: none;
}

.contact-icons i:hover {
    background-color: black;
    color: var(--primary-color);
    box-shadow: 0 0 20px #3498db;
}

.contact-form form {
    position: relative;
}

.contact-form input,form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea{
    resize: none;
    height: 230px;
}

.contact-form form  .send {
    display: inline-block;
    padding: 14px 60px;
    background-color: #3498db;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
   
    box-shadow:  0 0 5px #0ef
                 0 0 25px #0ef
} 





 /* footer section */
footer{
    background-color: var(--secondary-color);
}

.footer-text-center{
    text-align: center;
    color: white;
    padding: 30px
}